.detailspage {
  font-family: Arial, sans-serif;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 37, 114, 0.518);
  text-align: center;
}

.image {
  border-radius: 10px;
  margin-top: 13px;
  padding: 1px;
  width: 60px;
}

.symbol {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.company-name {
  font-size: 24px;
  color: #fff;
}

.details-table {
  margin-top: 20px;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
}

th,
td {
  text-align: left;
  padding: 11px;
  color: #fff;
}

h1 {
  margin-top: -10px;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #4a3f99;
}

.head-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* for desktop version */
@media only screen and (min-width: 768px) {
  .parent {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 0;
  }

  .items {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
  }

  .head-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .image {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin-top: 20px;
    padding: 1px;
  }

  h1 {
    margin-top: -10px;
    font-size: 20px;
  }

  .table {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
  }
}
